<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Employee</title>
  </head>
  <body>
    <h1>All Employee</h1>
    <table border="1">
      <tr>
        <th>EMP NAME</th>
        <th>CONTACT</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ACTIONS</th>
      </tr>

      <% for(var i=0; i < employeeList.length; i++){ %>
      <tr>
        <td><%= employeeList[i].name %></td>
        <td><%= employeeList[i].contact %></td>
        <td><%= employeeList[i].username %></td>
        <td><%= employeeList[i].password %></td>
        <td>
          <a href="/admin/updateEmployee/<%= employeeList[i].username %>"
            >UPDATE</a
          >
          |
          <a href="/admin/deleteEmployee/<%= employeeList[i].username %>">
            DELETE
          </a>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
